h1,ul,li,tr,td,th,form{padding: 0;margin: 0}
h1{text-align: center;padding-bottom: 20px;margin-top: 50px}

form{padding-top: 20px;padding-bottom: 70px;border-top: 2px solid #ddd;background-color: aliceblue;}
ul{list-style: none;width: 500px;margin: 50px auto 0;padding:50px;background-color: white;border-top: 5px solid lightgoldenrodyellow;border-bottom: 3px solid lightgoldenrodyellow}
li{margin: 10px auto;}
li.text{font-size: 18px;font-weight: bold}
li input{width: 400px;height: 40px;font-size: 18px;}
li:last-child input{width: 200px;background-color: lightgoldenrodyellow;border: none;margin-top: 40px;height: 50px}
li:last-child input:last-child{width: 200px;background-color: #eee;border: none;height: 50px}
.errors{color:red; font-weight: bold;}
