h1,ul,li,tr,td,th,div{padding: 0;margin: 0}
h1{text-align: center;margin-top: 100px;padding-bottom: 20px}

.container{border-top: 2px solid #ddd;;width: 100%;background-color: aliceblue;height: 100%}

.contain{list-style: none;overflow: hidden;margin: 125px auto 0;width: 600px;background-color: white}

.contain ul{float:left;margin: 100px 25px;width: 250px;font-size: 18px;border: 2px solid #eee;}
.contain ul li{font-size: 14px;text-align: center}
.contain ul li:first-child{font-size: 20px;text-align: center;margin-top: 20px;padding-bottom: 20px}
.contain ul li:last-child{margin: 40px 75px 20px}

.contain .company{list-style: none;border-top: 3px solid lightgoldenrodyellow;border-bottom: 3px solid lightgoldenrodyellow}
.contain .company li input{width: 100px;height: 30px;border: none;background-color: lightgoldenrodyellow;font-weight: bold}

.contain .member{list-style: none;border-top: 3px solid lightpink;border-bottom: 3px solid lightpink}
.contain .member li input{width: 100px;height: 30px;border: none;background-color: lightpink;font-weight: bold}
.errors{color:red; font-weight: bold;}
