h1,ul,li,tr,td,th,form{padding: 0;margin: 0}

h1{text-align: center;margin-top: 100px;padding-bottom: 20px;border-bottom: 2px solid #eee}


form{width: 100%;height: 100%;padding-top: 100px;background-color: aliceblue}

ul{list-style: none;width: 500px;margin: 0 auto;padding:50px;background-color: white;}
li{margin: 10px auto;}
li.text{font-size: 18px;font-weight: bold}
li input{width: 400px;height: 40px;font-size: 18px}
li:last-child input{width: 198px;background-color: #5FB760;border: none;margin-top: 30px;height: 50px;color:#fff;
                    border-radius: 5px}
                    
.errors{color:red; font-weight: bold;}

